{% extends 'control/base.html' %}{% block config_list %}active{% endblock %} {% block body %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-9">
            <div class="card discover-wrapper" style="overflow-x: scroll;">
                <div class="card-heading text-center">
                    <h4 class="title">{{user.username}}'s Configurations</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-success" data-toggle="modal" data-target="#uploadConfig"><i
                                class="fas fa-upload"></i>&nbsp; Upload Config
                        </button>
                        <div class="modal fade" id="uploadConfig" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Upload your configuration</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="{% url 'control:create_config' %}" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="input-group">
                                                <input type="file" class="form-control-file" name="config_file"
                                                       value="">
                                            </div>
                                            <div class="value" style="margin-top:20px">
                                                <div class="input-group">
                                                    <input type="text" name="description" class="input-style" value=""
                                                           placeholder="Description">
                                                    {% if Error %}
                                                    <div class="value" style="margin-top:20px">
                                                        <div class="input-group">
                                                            <span class="text-danger small">{{Error}}</span>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-success"><i class="fas fa-upload"></i>&nbsp;&nbsp;Upload
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <form method="post" action="#">
                            {% csrf_token %}
                        </form>
                    </div>
                    <div class="sub-div" style="height:400px ; overflow-y:scroll">
                        <table class="table">
                            <thead>
                            <th>Name</th>
                            <th>Date Added</th>
                            <th>Description</th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for file in configList %}
                            <tr>
                                <td><form method="get" action="{% url 'control:get_config' file.id %}">{% csrf_token %}<button type="submit" class="btn btn-link" ><i class="fas fa-file-alt"></i>&nbsp;&nbsp;{{file.fileName}}</button></form>
                                </td>
                                <td>{{file.dateAdded}}</td>
                                <td>{{file.description}}</td>
                                <td>
                                    <form action="{% url 'control:delete_config' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete" value="{{file.id}}" >
                                        <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i>&nbsp; Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
