{% extends 'control/base.html' %}{% load static %}{% block deviceList_active %}active{% endblock %}{% block body %}
<script>
    $(document).ready(function() {
        $('#interface_list').DataTable({
            "language": {
            "emptyTable": "Loading interfaces..."
            }
        });   
    } );
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="card account-info-wrapper">
                <div class="card-heading text-center">
                    <h4 class="title">Device details</h4>
                </div>
                <div class="card-body small-box">
                    <span>Hostname: </span>
                    <h4 id='hostname'>Loading...</h4>
                    <span>Up time: </span> <strong><span id="up-time">Loading...</span><span> min(s)</span></strong><br>
                    <span>Vendor: <strong id='vendor'>Loading...</strong></span><br>
                    <span>FQDN: <strong id='fqdn'>Loading...</strong></span><br>
                    <span>Management IP: <strong>{{device.managementIP}}</strong></span><br>
                    <button class="btn btn-link" data-toggle="modal" data-target="#exampleModal">Change IP</button><br>
                    <div style="display:flex">
                        <form method="get" action="{% url 'control:get_running' device.id %}" style="flex:50%">{% csrf_token %}<button class="btn btn-sm custom-button">Running config</button></form>
                        <form method="get" action="{% url 'control:get_startup' device.id %}" style="flex:50%">{% csrf_token %}<button class="btn btn-sm custom-button">Startup config</button></form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Change management IP</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        </div>
                        <form action="{% url 'control:updateIP' device.id %}" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="value">
                                    <h6>New management IP</h6>
                                    <div class="input-group">
                                        <input type="text" class="input-style" name="new_IP" value="">
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="card account-info-wrapper">
                <div class="card-header"><h3 class="card-title">All Interfaces</h3></div>
                <div class="card-body" style="padding: 20px; overflow-x: scroll !important;">
                    <table id="interface_list" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>IPv4</th>
                                <th>MAC</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Protocol</th>
                                <th>Keep alive</th>
                            </tr>
                        </thead>
                        <tbody id='table_body'>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="card-footer" style="padding: 20px;"> -->
                <div class="card-footer row" style="margin:auto 0px">
                    <div class="col-md-6">
                        {% if ipForwarding %}
                        <button class="btn custom-button" data-toggle="modal" data-target="#routing-table">Routing table</button>
                        {% endif %}
                    </div>
                    <div class="col-md-6 text-right">
                        {% if not device.monitored %}
                        <button id='monitor' class="btn btn-success" onclick="toggle_monitor(&apos;{% url 'control:monitor' device.id %}&apos;,&apos;{{device.id}}&apos;,&apos;monitor&apos;)">Add to monitor</button>
                        {% else %}
                        <button id='monitor' class="btn btn-secondary" onclick="toggle_monitor(&apos;{% url 'control:monitor' device.id %}&apos;,&apos;{{device.id}}&apos;,&apos;monitor&apos;)">Added to monitor</button>
                        {% endif %}
                    </div>
                </div>
                {% if ipForwarding %}
                <div class=" modal fade" id="routing-table" tabindex="-1" role="dialog" aria-labelledby="routing-tableLabel" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 1140px; width:1140px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Routing Table</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body" style="height:400px;overflow-y:scroll;">
                              <table class="table">
                                  <thead>
                                      <th>Protocol</th>
                                      <th>Network</th>
                                      <th>Distance</th>
                                      <th>Metric</th>
                                      <th>Nexthop IP</th>
                                      <th>Nexthop Interface</th>
                                  </thead>
                                  <tbody id="routing-table-body">

                                  </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3"></div>
        <div class="col-sm-8 col-md-9">
            <div class="chart-container">
                <div class="card account-info-wrapper" style="margin-top:20px">
                    <div class="card-body">
                        <h3>{{device.hostname}} Resource Utilization</h3><br>
                        <canvas id="resource" width="650" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'script/keep_alive.js' %}"></script>
<script src="{% static 'script/toggle_monitor.js' %}"></script>
<script src="{% static 'script/update_interface.js' %}"></script>
<script src="{% static 'script/cpu_chart.js' %}"></script>
<script src="{% static 'script/update_device_resource_usage.js' %}"></script>
<script>
    var updateInterfaceRequest = "{% url 'control:updateInterface' device.id %}"
    updateInterface(updateInterfaceRequest);
    setInterval( updateInterface, 60000, updateInterfaceRequest);
</script>
<script>
    var updateResourceUsage = "{% url 'control:device_usage_info' device.id %}"
    updateUsageInfo(updateResourceUsage)
    setInterval( updateUsageInfo, 2000, updateResourceUsage);
</script>
<script>
    var routingTableRequest = "{% url 'control:get_routing_table' device.id %}"
    function getRoutingTable(request){
        routingTable = new XMLHttpRequest();
        routingTable.open('GET', request);
        routingTable.onload = function() {
            response = JSON.parse(routingTable.responseText);
            var tableContent = '';
            for(const item in response){
                itemString ='<tr>';
                itemString = itemString + '<td>' + response[item]['protocol'] + '</td>';
                itemString = itemString + '<td>' + response[item]['network'] + '/' + response[item]['mask'] + '</td>';
                itemString = itemString + '<td>' + response[item]['distance'] + '</td>';
                itemString = itemString + '<td>' + response[item]['metric'] + '</td>';
                itemString = itemString + '<td>' + response[item]['nexthop_ip'] + '</td>';
                itemString = itemString + '<td>' + response[item]['nexthop_if'] + '</td>';
                tableContent = tableContent + itemString + '</tr>';
            }
            document.getElementById('routing-table-body').innerHTML = tableContent;
        };
        routingTable.send();
    }
    getRoutingTable(routingTableRequest);
</script>
{% endblock %}
