{% extends 'control/base.html' %}{% load static %}{% block deviceList_active %}active{% endblock %}{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="card account-info-wrapper">
                <div class="card-heading text-center">
                    <h4 class="title">Device details</h4>
                </div>
                <div class="card-body small-box">
                    <span>Hostname: </span>
                    <h4 id='hostname'>Loading...</h4>
                    <span>Up time: </span> <strong><span id="up-time">Loading...</span><span> min(s)</span></strong><br>
                    <span>Vendor: <strong id='vendor'>Loading...</strong></span><br>
                    <span>FQDN: <strong id='fqdn'>Loading...</strong></span><br>
                    <span>Management IP: <strong>{{device.managementIP}}</strong></span><br>
                    <button class="btn btn-link" data-toggle="modal" data-target="#exampleModal">Change IP</button><br>
                    <div style="display:flex">
                        <form method="get" action="{% url 'control:get_running' device.id %}" style="flex:50%">{% csrf_token %}<button class="btn btn-sm custom-button">Running config</button></form>
                        <form method="get" action="{% url 'control:get_startup' device.id %}" style="flex:50%">{% csrf_token %}<button class="btn btn-sm custom-button">Startup config</button></form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Change management IP</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        </div>
                        <form action="{% url 'control:updateIP' device.id %}" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="value">
                                    <h6>New management IP</h6>
                                    <div class="input-group">
                                        <input type="text" class="input-style" name="new_IP" value="">
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="card account-info-wrapper">
                <div class="card-body" style="padding: 20px; overflow-x: scroll !important;">
                    <h3>All Interfaces</h3><br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>IPv4</th>
                                <th>MAC</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Protocol</th>
                            </tr>
                        </thead>
                        <tbody id='table_body'>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3"></div>
        <div class="col-sm-8 col-md-9">
            <div class="chart-container">
                <div class="card account-info-wrapper" style="margin-top:20px">
                    <div class="card-body">
                        <h3>{{device.hostname}} Resource Utilization</h3><br>
                        <canvas id="resource" width="650" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'script/update_interface.js' %}"></script>
<script src="{% static 'script/cpu_chart.js' %}"></script>
<script src="{% static 'script/update_device_resource_usage.js' %}"></script>
<script>
    var updateInterfaceRequest = "{% url 'control:updateInterface' device.id %}"
    updateInterface(updateInterfaceRequest);
    setInterval( updateInterface, 60000, updateInterfaceRequest);
</script>
<script>
    var updateResourceUsage = "{% url 'control:device_usage_info' device.id %}"
    updateUsageInfo(updateResourceUsage)
    setInterval( updateUsageInfo, 2000, updateResourceUsage);
</script>
{% endblock %}
