{% extends 'control/base_guest.html' %} {% load static %} {% block login_active %}active{% endblock %} {% block body%}
<div class="container-fluid" style="height: inherit;">
    <div class="d-flex align-items-center justify-content-center" style="height: inherit;">
        <div class="col-sm-12 col-md-7">
            <div class="card login-wrapper">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="logo-container" style="background-image: url({% static 'icon/autonet.png' %});"></div>
                        <div class="login-brand">
                            <h1>Autonet</h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="login-form mt-4">
                                <form action="{% url 'control:login' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row" >
                                        <div class="form-group col-md-12" style="border-bottom: solid 1px #cdcdcd;">
                                            <label class="text-muted">Username*</label>
                                            <input id="username" name="username" placeholder="Username" class="form-control" type="text" style="border: none;">
                                        </div>
                                        <div class="form-group col-md-12" style="border-bottom: solid 1px #cdcdcd;">
                                            <label class="text-muted">Password*</label>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" style="border: none;">
                                        </div>
                                        {% if error_message %} &nbsp;
                                        <p class="small text-danger">{{error_message}}</p>
                                        {% endif %}
                                    </div>
                                    <div class="form-row">
                                        <button type="submit" class="btn btn-success btn-block">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}