{% extends 'control/base.html' %}{% block traceroute_active %}active{% endblock %} {% block body %} {% if timeout_error_message %}
<script>
    alert("{{timeout_error_message}}")

</script>
{% endif %}
<div class="container-fluid">
<!--    <div class="row justify-content-center">-->
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="card discover-wrapper" style="overflow-x: scroll;">
                <div class="card-heading text-center">
                    <h4 class="title">Trace Path</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="value">
                                <div class="input-group">
                                    <select class="select-style" id="source" name="source">
                                        <option class="option-style">Source</option>
                                        {% for device in allDevices %}
                                        <option class="option-style" value="{{device.id}}">{{device.hostname}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if profile_error_message %}
                                <span class="text-danger small">{{profile_error_message}}</span> {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="value">
                                <div class="input-group">
                                    <input type="text" class="input-style" id="dest" placeholder="Destination">
                                </div>
                                {% if IP_error_message %}
                                <span class="text-danger small">{{IP_error_message}}</span> {% endif %}
                                </div>
                        </div>
                        <br>
                        <div class=" form-row justify-content-center">
                            <input type="submit" id="submit-path" class="btn btn-success" style="width: 100px;" value="Start">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="trace-result-container" class="col-sm-8 col-md-8">
        </div>
    </div>
</div>
{% csrf_token %}
<script>
    document.querySelector("#submit-path").addEventListener("click", function(event) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        document.getElementById('trace-result-container').innerHTML =
        '<div class="card discover-wrapper"><h3 class="card-header">Trace Result</h3><div id="trace-table-container" class="card-body row justify-content-center"><div class="lds-dual-ring"></div></div></div>'
        var toSend = {
            source: document.getElementById("source").value,
            dest: document.getElementById("dest").value,
        }
         var form = JSON.stringify(toSend);
         console.log(form);
         traceRequest = '{% url 'control:traceroute' %}'
         traceResult = new XMLHttpRequest();
         traceResult.open("POST", traceRequest);
         traceResult.setRequestHeader('X-CSRFToken', csrftoken, "Content-Type", "application/json");
         traceResult.onload = function(){
            traceResponse = JSON.parse(traceResult.responseText);
            console.log(traceResponse);
            var tableContent =
            `<table class="table">
                            <thead>
                            <tr>
                                <th>Hop</th>
                                <th>Address</th>
                                <th>FQDN</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                    `;
            for (hop in traceResponse){
                var hopNum = '<td>' + traceResponse[hop]['hop_num'] + '</td>';
                var address = '<td>' + traceResponse[hop]['address'] + '</td>';
                var fqdn = '<td>' + traceResponse[hop]['fqdn'] + '</td>';
                var details = '<td>' + traceResponse[hop]['details'] + '</td>';
                var tableItem = '<tr>' + hopNum + address + fqdn + details + '</tr>';
                var tableContent = tableContent + tableItem;
            }
            tableContent = tableContent + '</tbody></table>'
            document.getElementById('trace-table-container').innerHTML = tableContent;
         }
         traceResult.send(form);
         event.preventDefault();
}, false);

</script>
{% endblock %}
