{% extends 'control/base.html' %}{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-5">
            <div class="card account-info-wrapper">
                <div class="card-heading text-center">
                    <h4 class="title">Update SNMP Read</h4>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="{% url 'control:update_SNMPRead' ROString.id%}" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <div class="control-group">
                                <!-- Profile name -->
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input type="text" name="name" placeholder="" class="form-control" value="{{ROString.name}}">
                                    <p class="small text-danger">{{form.profileName.errors}}</p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="community-string">Community string</label>
                                <div class="controls">
                                    <input type="password" name="community-string" placeholder="" class="form-control">
                                    <p class="small text-danger">{{form.profilePassword.errors}}</p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Enable -->
                                <label class="control-label" for="community-string-confirm">Community string confirm</label>
                                <div class="controls">
                                    <input type="password" name="community-string-confirm" placeholder="" class="form-control">
                                    <p class="small text-danger">{{form.profileEnablePassword.errors}}</p>
                                </div>
                            </div>

                            <fieldset class="form-group">
                                <!-- Make Primary -->
                                <div class="controls">
                                    <input type="checkbox" name="primary" value="True">
                                    <label for="primary" class="form-check-label">Primary</label>
                                </div>
                            </fieldset>

                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success" type="submit"><span class="fas fa-edit"></span>&nbsp;Change</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
