{% extends 'control/base.html' %} {% load static %} {% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="card account-info-wrapper" style="overflow-x: scroll !important;">
                <div class="card-heading text-center">
                    <h4 class="title">Account Info</h4>
                </div>
                <div class="card-body">
                    <h4>General</h4>
                    <p class="text-muted"><small>Account's basic info</small></p>
                    <hr>
                    <div class="form-group col-xs-6">
                        <form class="horizontal" action="#">
                            <div class="value">
                                <h6>Username</h6>
                                <div class="input-group">
                                    <input type="text" class="input-style" value="{{user.username}}" readonly>
                                    <div>
                                        {% if IP_error_message %}
                                        <span class="text-danger small">{{IP_error_message}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="value">
                                <h6>Email</h6>
                                <div class="input-group">
                                    <input type="text" class="input-style" value="{{user.email}}" readonly>
                                </div>
                                <br>
                            </div>
                        </form>
                    </div>
                    <fieldset class="form-group">
                        <div class="form-check">
                            <input type="checkbox" id="change_info" onClick="togglePassword()">
                            <label for="change_info" class="form-check-label">Change password</label>
                        </div>
                    </fieldset>
                    <fieldset class="password-field">
                        <div class="form-group col-xs-6">
                            <form class="horizontal" action="{% url 'control:change_password' %}" method="POST">
                                {% csrf_token %}
                                <div class="value">
                                    <h6>Password</h6>
                                    <div class="input-group">
                                        <input type="password" class="input-style" name="old_password" value="">
                                    </div>
                                    <p class="small text-danger">{{form.old_password.errors}}</p>
                                    <br>
                                </div>
                                <div class="value">
                                    <h6>New password</h6>
                                    <div class="input-group">
                                        <input type="password" class="input-style" name="new_password1" value="">
                                    </div>
                                    <p class="small text-danger">{{form.new_password1.errors}}</p>
                                    <br>
                                </div>
                                <div class="value">
                                    <h6>Confirm new password</h6>
                                    <div class="input-group">
                                        <input type="password" class="input-style" name="new_password2" value="">
                                    </div>
                                    <p class="small text-danger">{{form.new_password2.errors}}</p>
                                    <br>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn btn-success" type="submit">Apply change</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                    <br>
                    <hr>
                    <br>
                    <a data-toggle="collapse" href="#profile-collapse"><h4>Profiles</h4></a>
                    <p class="text-muted"><small>Use to connect to devices via SSH</small></p>
                    <hr>
                    <div class="collapse" id="profile-collapse">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Username</th>
                                <th>Primary</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if allProfile %} {% for profile in allProfile %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{profile.profileName}}</td>
                                <td>{% if profile.primary == True %}Primary{% endif %}</td>
                                <td>
                                    <a href="{% url 'control:update_profile_form' profile.id %}"
                                       class="btn btn-default btn-sm" role="button"><span
                                            class="fas fa-edit"></span>&nbsp;Edit</a>
                                </td>
                                <td>
                                    <form action="{% url 'control:delete_profile' profile.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="profile_id" value="{{profile.id}}">
                                        <button type="submit" class="btn btn-danger btn-sm"><span
                                                class="fas fa-trash-alt"></span>&nbsp;Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    -
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    <a data-toggle="collapse" href="#RO-collapse"><h4>SNMP Read</h4></a>
                    <p class="text-muted"><small>Use to connect to devices via SSH</small></p>
                    <hr>
                    <div class="collapse" id="RO-collapse">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Primary</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if allROString %} {% for ROString in allROString %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{ROString.name}}</td>
                                <td>{% if ROString.primary == True %}Primary{% endif %}</td>
                                <td>
                                    <a href="{% url 'control:update_SNMPRead_form' ROString.id %}"
                                       class="btn btn-default btn-sm" role="button"><span
                                            class="fas fa-edit"></span>&nbsp;Edit</a>
                                </td>
                                <td>
                                    <form action="{% url 'control:delete_ROString' ROString.id %}" method="GET">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm"><span
                                                class="fas fa-trash-alt"></span>&nbsp;Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    -
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    <a data-toggle="collapse" href="#RW-collapse"><h4>SNMP Write</h4></a>
                    <p class="text-muted"><small>Use to connect to devices via SSH</small></p>
                    <hr>
                    <div class="collapse" id="RW-collapse">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Primary</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if allRWString %} {% for RWString in allRWString %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{RWString.name}}</td>
                                <td>{% if RWString.primary == True %}Primary{% endif %}</td>
                                <td>
                                    <a href="{% url 'control:update_SNMPWrite_form' RWString.id %}"
                                       class="btn btn-default btn-sm" role="button"><span
                                            class="fas fa-edit"></span>&nbsp;Edit</a>
                                </td>
                                <td>
                                    <form action="{% url 'control:delete_RWString' RWString.id %}" method="GET">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm"><span
                                                class="fas fa-trash-alt"></span>&nbsp;Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    -
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    <a href="{% url 'control:add_profile' %}" class="btn btn-success"><span
                            class="fas fa-plus-circle"></span>&nbsp;Add Credential</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card account-info-wrapper" style="overflow-x: scroll !important;">
                <div class="card-heading text-center">
                    <h4 class="title">Nagios Server</h4>
                </div>
                <div class="card-body">
                    <hr>
                    <div class="form-group col-xs-6">
                        <form method="POST" action="{% url 'control:set_nag' %}">
                            {% csrf_token %}
                            <div class="value">
                                
                                    <div class="value">
                                        <h6>Address</h6>
                                        <p class="text-muted"><small>Server address</small></p>
                                        <div class="input-group">
                                            <input type="text" name="hostname" class="input-style">
                                            <div>
                                                {% if IP_error_message %}
                                                <span class="text-danger small">{{IP_error_message}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                            </div>
                            <div class="value">
                                <h6>Auth key</h6>
                                <p class="text-muted"><small>API key</small></p>
                                <div class="input-group">
                                    <input type="text" name="authKey" class="input-style">
                                    <div>
                                        {% if IP_error_message %}
                                        <span class="text-danger small">{{IP_error_message}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class=" form-row justify-content-center">
                        <input type="submit" class="btn btn-success" style="width: 100px;" value="Save">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'script/script.js' %}"></script>
{% endblock %}
